:root {
  --intenseGreen: #61ca61;
  --intenseRed: #e73f3f;
  --intenseYellow: #efd116;
  --intenseGray: #8e8e8e;
  --intenseOrange: #ffc400;

  --deepGreen: #34c110;
  --deepOrange: #ffbb00;
  --deepBlue: #4c667e;
  --deepRed: #d35757;

  --mildRed: #fa6767;
  --mildGreen: #7cf25e;
  --mildGrey: #e1e1e1;
  --mildOrange: #ffcd2b;

  --epistoTeal: #97c9cc;
  --whiteGrey: #f7f7f7;

}

/* borders */

.dividerBorderBottom {
  border-bottom: 1px solid var(--mildGrey);
}

.dividerBorderLeft {
  border-left: 1px solid var(--mildGrey);
}

.dividerBorderRight {
  border-right: 1px solid var(--mildGrey);
}

.dividerBorderTop {
  border-top: 1px solid var(--mildGrey);
}

.simpleBorder {
  border: 1px solid var(--mildGrey);
}

/* font sizes */

.fontSmall {
  font-size: 13px !important;
}

.fontMid {
  font-size: 14px !important;
}

.fontLarge {
  font-size: 18px !important;
}

.fontHuge {
  font-size: 22px !important;
}

.fontGiant {
  font-size: 26px !important;
}

.fontXXL {
  font-size: 30px !important;
}

/* font colors */

.fontDark {
  color: #646464 !important;
}

.fontLight {
  color: #ffffff !important;
}

.fontGrey {
  color: var(--intenseGray) !important;
}

/* sqares  */

.square15 {
  width: 15px !important; 
  height: 15px !important; 
}

.square20 {
  width: 20px !important; 
  height: 20px !important; 
}

.square25 {
  width: 25px !important; 
  height: 25px !important; 
}

.square30 {
  width: 30px !important; 
  height: 30px !important; 
}

.square35 {
  width: 35px !important; 
  height: 35px !important; 
}

.square40 {
 width: 40px !important;
 height: 40px !important; 
}

.square50 {
 width: 50px !important;
 height: 50px !important; 
}

.square60 {
 width: 60px !important;
 height: 60px !important; 
}

.square70 {
 width: 70px !important;
 height: 70px !important; 
}

/* misc  */

.circle {
  border-radius: 50%;
}

.roundBorders{
  border-radius: 7px;
}

.controlPadding {
  padding: 2px 12px 2px 12px
}

@font-face {
  font-family: 'Poppins';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("configuration/fonts/Poppins-Light.ttf") format("ttf"),
  url("configuration/fonts/Poppins-Light.ttf") format("ttf");
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

button {
  cursor: pointer;
}

.hoverOnHover {
  transition: 0.2s;
}

.hoverOnHover:hover {
  transform: scale(1.02);
  box-shadow: 1 1 black;
}

.leftBorderOnHover{
  transition: 0.2s;
}
.leftBorderOnHover:hover{
  border-left: 5px solid var(--background-18);
}

.forceTransparentBgOnChildren > * {
  background: transparent !important;
}

@keyframes rightSlideAnimation {
  from { right: 100%; }
  to { right: 0%; }
}

.pauseAnimation {
  animation-play-state: paused;
}

.whall {
  width: 100%;
  height: 100%;
}

.normalizeChild>.MuiPaper-root {
  background: none;
  border-radius: 0;
  box-shadow: none;
  overflow: visible;
}

.mildShadow {
  box-shadow: 0 0 8px #0000001f
}

.tinyShadow {
  box-shadow: 0 0 4px #0000001f
}

.hoverShine {
  transition: 0.3s;
}

.hoverShine:hover {
  filter: brightness(110%) saturate(90%);
}

.shadowOnHover{
  transition: 0.2s;
}

.shadowOnHover:hover{
  box-shadow: 0 0 4px #0000001f
}

