@import url("https://fonts.googleapis.com/css?family=Inconsolata:700");

div {
    ::-webkit-scrollbar {
        width: 0px;  /* Remove scrollbar space */
        background: transparent;  /* Optional: just make scrollbar invisible */
    }
}

.courseBackground {
    background-color: var(--background-10);
    width: 100%;
    min-height: 100vh;
    height: 100%;
}

.mainCourseContainer {
    display: flex;
    flex-direction: row;
    width: 90vw;
    height: 100%;
    min-height: 100vh;
    margin: 0 auto;
    background-color: var(--background-10);
}

.courseLeftContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.categoriesContainer {
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
    height: 400px;
    max-height: 640px;
    margin-top: 30px;
}

.categoriesTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    //background-color: pink;
    width: 100%;
    height: 130px;
    text-align: center;
}
.categoriesTitle h1 {
    color: var(--text-color-1);
    margin: 0;
    padding: 0;
}

.categoriesList {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
}
.categoriesListItem {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    width: 85%;
    padding-left: 20px;
    margin-bottom: 2px;
    font-weight: bolder;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid #e2e2e2;
}
.categoriesListItem:hover {
    background-color: #e6e6e6;
}
.categoriesListItemBorder {
    width: 93%;
    height: 1px;
}

.categoriesListItem:first-child {
}

.categoriesListItem:last-child {
}

.courseRightContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    height: 100%;
    margin-bottom: 20px;
}

.coursesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 94%;
    height: 100%;
    margin-top: 30px;
}

.courseOptionsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 50px);
    height: 80px;
}
.courseLeftOptionsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    height: 100%;
}

.filterSelectorButtonGroupRoot {
    //color: white;
}

.filterSelectorButtonRoot {
    //border: 1px solid var(--background-16);
    //background-color: var(--background-17);
}
.filterSelectorButtonRoot * {

    //color: #EEE;
}

.filterSelectorButtonSelected span:nth-child(2) {
    //background-color: var(--background-16);
}
.filterSelectorButtonSelected span:nth-child(1) {
    color: white;
    z-index: 999;
}


.courseLeftOptionButtons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    width: 100%;
}


.courseRightOptionsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60px;
}



.courseRightOptionButton:first-child {
    background-color: var(--background-15);
    margin-left: 0;
}

.sortFormControlRoot * {

}

.sortFormControlSelect {
    //border: 1px solid var(--background-16);
    //background-color: var(--background-17);
}
.sortFormControlSelect{
}
.sortFormControlFocused {

}


.courseItemsContainer {
    //background-color: var(--background-primary-main);
    flex-grow: 1;
    max-width: calc(100% - 28px)
}
.searchBarContainer {
    width: calc(100%- 50px);
    height: 100px;
}
.searchBar {
    width: calc(100% - 50px);
}
