.profileMainOuterWrapper {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    align-items: center;
    background-color: rgba(8,26,45,1.0);
}

.profileMainInnerWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    height: 100%;
}
