node_modules
dist
/node_modules
/node_modules/.yarn-integrity
/deploy/temp
/deploy/out
error.log
yarn-error.log
yarn.lock
testlogs.txt
.yarn.lock
.docker_temp**
**.tar.gz
**.tar
**.log
**.mp4
epitest/out/test.cy.ts.mp4
database-backup.sql
migration-script.sql
**/screenshots
**/temp
temp
/temp
transferdump.sql
dump.sql
./thinkhub-xlib
thinkhub-xlib
