/epistogram_frontend/node_modules/
/epistogram_backend/node_modules/

/epistrogram_frondend/.idea/
/epistogram_backend/.idea/

/epistogram_frontend/.history/
/epistogram_backend/.history/

/epistogram_frontend/.vscode/
/epistogram_backend/.vscode/

/epistogram_backend/temp/
/epistogram_backend/build/

/.idea/
/.idea/*
epistogram_backend/dist/
epistogram_backend/build/

epistogram_backend/build/
epistogram_backend/build
misc/scripts/activationCodeGen/node_modules/.yarn-integrity
misc/scripts/activationCodeGen/node_modules/.bin/tsc
misc/scripts/activationCodeGen/node_modules/.bin/tsc.cmd
misc/scripts/activationCodeGen/node_modules/.bin/tsserver
misc/scripts/activationCodeGen/node_modules/.bin/tsserver.cmd
misc/scripts/activationCodeGen/node_modules/@types/generate-password/LICENSE
misc/scripts/activationCodeGen/node_modules/@types/generate-password/package.json
misc/scripts/activationCodeGen/node_modules/@types/generate-password/README.md
misc/scripts/activationCodeGen/node_modules/@types/node/assert.d.ts
misc/scripts/activationCodeGen/node_modules/@types/node/async_hooks.d.ts
misc/scripts/activationCodeGen/node_modules/@types/node/buffer.d.ts
misc/scripts/activationCodeGen/node_modules/@types/node/child_process.d.ts
misc/scripts/activationCodeGen/node_modules/@types/node/cluster.d.ts
misc/scripts/activationCodeGen/node_modules/@types/node/console.d.ts
misc/scripts/activationCodeGen/node_modules/@types/node/constants.d.ts
misc/scripts/activationCodeGen/node_modules/@types/node/crypto.d.ts
misc/scripts/activationCodeGen/node_modules/@types/node/dgram.d.ts
misc/scripts/activationCodeGen/node_modules/@types/node/dns.d.ts
misc/scripts/activationCodeGen/node_modules/@types/node/domain.d.ts
misc/scripts/activationCodeGen/node_modules/@types/node/events.d.ts
misc/scripts/activationCodeGen/node_modules/@types/node/fs.d.ts
misc/scripts/activationCodeGen/node_modules/@types/node/globals.d.ts
misc/scripts/activationCodeGen/node_modules/@types/node/globals.global.d.ts
misc/scripts/activationCodeGen/node_modules/@types/node/http.d.ts
misc/scripts/activationCodeGen/node_modules/@types/node/http2.d.ts
misc/scripts/activationCodeGen/node_modules/@types/node/https.d.ts
misc/scripts/activationCodeGen/node_modules/@types/node/index.d.ts
misc/scripts/activationCodeGen/node_modules/@types/node/inspector.d.ts
misc/scripts/activationCodeGen/node_modules/@types/node/LICENSE
misc/scripts/activationCodeGen/node_modules/@types/node/module.d.ts
misc/scripts/activationCodeGen/node_modules/@types/node/net.d.ts
misc/scripts/activationCodeGen/node_modules/@types/node/os.d.ts
misc/scripts/activationCodeGen/node_modules/@types/node/package.json
misc/scripts/activationCodeGen/node_modules/@types/node/path.d.ts
misc/scripts/activationCodeGen/node_modules/@types/node/perf_hooks.d.ts
misc/scripts/activationCodeGen/node_modules/@types/node/process.d.ts
misc/scripts/activationCodeGen/node_modules/@types/node/punycode.d.ts
misc/scripts/activationCodeGen/node_modules/@types/node/querystring.d.ts
misc/scripts/activationCodeGen/node_modules/@types/node/readline.d.ts
misc/scripts/activationCodeGen/node_modules/@types/node/README.md
misc/scripts/activationCodeGen/node_modules/@types/node/repl.d.ts
misc/scripts/activationCodeGen/node_modules/@types/node/stream.d.ts
misc/scripts/activationCodeGen/node_modules/@types/node/string_decoder.d.ts
misc/scripts/activationCodeGen/node_modules/@types/node/timers.d.ts
misc/scripts/activationCodeGen/node_modules/@types/node/tls.d.ts
misc/scripts/activationCodeGen/node_modules/@types/node/trace_events.d.ts
misc/scripts/activationCodeGen/node_modules/@types/node/tty.d.ts
misc/scripts/activationCodeGen/node_modules/@types/node/url.d.ts
misc/scripts/activationCodeGen/node_modules/@types/node/util.d.ts
misc/scripts/activationCodeGen/node_modules/@types/node/v8.d.ts
misc/scripts/activationCodeGen/node_modules/@types/node/vm.d.ts
misc/scripts/activationCodeGen/node_modules/@types/node/wasi.d.ts
misc/scripts/activationCodeGen/node_modules/@types/node/worker_threads.d.ts
misc/scripts/activationCodeGen/node_modules/@types/node/zlib.d.ts
misc/scripts/activationCodeGen/node_modules/@types/node/fs/promises.d.ts
misc/scripts/activationCodeGen/node_modules/generate-password/.eslintrc.yml
misc/scripts/activationCodeGen/node_modules/generate-password/CHANGELOG.md
misc/scripts/activationCodeGen/node_modules/generate-password/example.js
misc/scripts/activationCodeGen/node_modules/generate-password/LICENSE
misc/scripts/activationCodeGen/node_modules/generate-password/main.js
misc/scripts/activationCodeGen/node_modules/generate-password/package.json
misc/scripts/activationCodeGen/node_modules/generate-password/README.md
misc/scripts/activationCodeGen/node_modules/generate-password/.github/workflows/nodejs.yml
misc/scripts/activationCodeGen/node_modules/generate-password/src/generate.d.ts
misc/scripts/activationCodeGen/node_modules/generate-password/src/generate.js
misc/scripts/activationCodeGen/node_modules/generate-password/test/coverage.sh
misc/scripts/activationCodeGen/node_modules/generate-password/test/esm.mjs
misc/scripts/activationCodeGen/node_modules/generate-password/test/generator.js
misc/scripts/activationCodeGen/node_modules/typescript/AUTHORS.md
misc/scripts/activationCodeGen/node_modules/typescript/CODE_OF_CONDUCT.md
misc/scripts/activationCodeGen/node_modules/typescript/CopyrightNotice.txt
misc/scripts/activationCodeGen/node_modules/typescript/LICENSE.txt
misc/scripts/activationCodeGen/node_modules/typescript/package.json
misc/scripts/activationCodeGen/node_modules/typescript/README.md
misc/scripts/activationCodeGen/node_modules/typescript/SECURITY.md
misc/scripts/activationCodeGen/node_modules/typescript/ThirdPartyNoticeText.txt
misc/scripts/activationCodeGen/node_modules/typescript/bin/tsc
misc/scripts/activationCodeGen/node_modules/typescript/bin/tsserver
misc/scripts/activationCodeGen/node_modules/typescript/lib/cancellationToken.js
misc/scripts/activationCodeGen/node_modules/typescript/lib/lib.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/lib.dom.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/lib.dom.iterable.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/lib.es5.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/lib.es6.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/lib.es2015.collection.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/lib.es2015.core.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/lib.es2015.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/lib.es2015.generator.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/lib.es2015.iterable.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/lib.es2015.promise.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/lib.es2015.proxy.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/lib.es2015.reflect.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/lib.es2015.symbol.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/lib.es2015.symbol.wellknown.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/lib.es2016.array.include.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/lib.es2016.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/lib.es2016.full.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/lib.es2017.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/lib.es2017.full.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/lib.es2017.intl.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/lib.es2017.object.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/lib.es2017.sharedmemory.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/lib.es2017.string.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/lib.es2017.typedarrays.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/lib.es2018.asyncgenerator.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/lib.es2018.asynciterable.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/lib.es2018.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/lib.es2018.full.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/lib.es2018.intl.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/lib.es2018.promise.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/lib.es2018.regexp.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/lib.es2019.array.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/lib.es2019.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/lib.es2019.full.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/lib.es2019.object.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/lib.es2019.string.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/lib.es2019.symbol.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/lib.es2020.bigint.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/lib.es2020.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/lib.es2020.full.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/lib.es2020.intl.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/lib.es2020.promise.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/lib.es2020.sharedmemory.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/lib.es2020.string.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/lib.es2020.symbol.wellknown.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/lib.es2021.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/lib.es2021.full.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/lib.es2021.intl.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/lib.es2021.promise.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/lib.es2021.string.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/lib.es2021.weakref.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/lib.esnext.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/lib.esnext.full.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/lib.esnext.intl.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/lib.esnext.promise.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/lib.esnext.string.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/lib.esnext.weakref.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/lib.scripthost.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/lib.webworker.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/lib.webworker.importscripts.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/lib.webworker.iterable.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/protocol.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/README.md
misc/scripts/activationCodeGen/node_modules/typescript/lib/tsc.js
misc/scripts/activationCodeGen/node_modules/typescript/lib/tsserver.js
misc/scripts/activationCodeGen/node_modules/typescript/lib/tsserverlibrary.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/tsserverlibrary.js
misc/scripts/activationCodeGen/node_modules/typescript/lib/typescript.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/typescript.js
misc/scripts/activationCodeGen/node_modules/typescript/lib/typescriptServices.d.ts
misc/scripts/activationCodeGen/node_modules/typescript/lib/typescriptServices.js
misc/scripts/activationCodeGen/node_modules/typescript/lib/typesMap.json
misc/scripts/activationCodeGen/node_modules/typescript/lib/typingsInstaller.js
misc/scripts/activationCodeGen/node_modules/typescript/lib/watchGuard.js
misc/scripts/activationCodeGen/node_modules/typescript/lib/cs/diagnosticMessages.generated.json
misc/scripts/activationCodeGen/node_modules/typescript/lib/de/diagnosticMessages.generated.json
misc/scripts/activationCodeGen/node_modules/typescript/lib/es/diagnosticMessages.generated.json
misc/scripts/activationCodeGen/node_modules/typescript/lib/fr/diagnosticMessages.generated.json
misc/scripts/activationCodeGen/node_modules/typescript/lib/it/diagnosticMessages.generated.json
misc/scripts/activationCodeGen/node_modules/typescript/lib/ja/diagnosticMessages.generated.json
misc/scripts/activationCodeGen/node_modules/typescript/lib/ko/diagnosticMessages.generated.json
misc/scripts/activationCodeGen/node_modules/typescript/lib/pl/diagnosticMessages.generated.json
misc/scripts/activationCodeGen/node_modules/typescript/lib/pt-br/diagnosticMessages.generated.json
misc/scripts/activationCodeGen/node_modules/typescript/lib/ru/diagnosticMessages.generated.json
misc/scripts/activationCodeGen/node_modules/typescript/lib/tr/diagnosticMessages.generated.json
misc/scripts/activationCodeGen/node_modules/typescript/lib/zh-cn/diagnosticMessages.generated.json
misc/scripts/activationCodeGen/node_modules/typescript/lib/zh-tw/diagnosticMessages.generated.json
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/CHS/Targets/ProjectItemsSchema.xaml.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/CHS/Targets/TypeScriptCompile.xaml.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/CHS/Targets/TypeScriptProjectProperties.xaml.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/CHS/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/CHS/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/CHS/TypeScriptTasks/TypeScript.Tasks.dll.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/CHT/Targets/ProjectItemsSchema.xaml.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/CHT/Targets/TypeScriptCompile.xaml.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/CHT/Targets/TypeScriptProjectProperties.xaml.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/CHT/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/CHT/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/CHT/TypeScriptTasks/TypeScript.Tasks.dll.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/CSY/Targets/ProjectItemsSchema.xaml.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/CSY/Targets/TypeScriptCompile.xaml.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/CSY/Targets/TypeScriptProjectProperties.xaml.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/CSY/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/CSY/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/CSY/TypeScriptTasks/TypeScript.Tasks.dll.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/DEU/Targets/ProjectItemsSchema.xaml.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/DEU/Targets/TypeScriptCompile.xaml.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/DEU/Targets/TypeScriptProjectProperties.xaml.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/DEU/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/DEU/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/DEU/TypeScriptTasks/TypeScript.Tasks.dll.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/ESN/Targets/ProjectItemsSchema.xaml.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/ESN/Targets/TypeScriptCompile.xaml.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/ESN/Targets/TypeScriptProjectProperties.xaml.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/ESN/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/ESN/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/ESN/TypeScriptTasks/TypeScript.Tasks.dll.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/FRA/Targets/ProjectItemsSchema.xaml.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/FRA/Targets/TypeScriptCompile.xaml.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/FRA/Targets/TypeScriptProjectProperties.xaml.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/FRA/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/FRA/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/FRA/TypeScriptTasks/TypeScript.Tasks.dll.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/ITA/Targets/ProjectItemsSchema.xaml.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/ITA/Targets/TypeScriptCompile.xaml.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/ITA/Targets/TypeScriptProjectProperties.xaml.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/ITA/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/ITA/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/ITA/TypeScriptTasks/TypeScript.Tasks.dll.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/JPN/Targets/ProjectItemsSchema.xaml.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/JPN/Targets/TypeScriptCompile.xaml.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/JPN/Targets/TypeScriptProjectProperties.xaml.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/JPN/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/JPN/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/JPN/TypeScriptTasks/TypeScript.Tasks.dll.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/KOR/Targets/ProjectItemsSchema.xaml.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/KOR/Targets/TypeScriptCompile.xaml.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/KOR/Targets/TypeScriptProjectProperties.xaml.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/KOR/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/KOR/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/KOR/TypeScriptTasks/TypeScript.Tasks.dll.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/PLK/Targets/ProjectItemsSchema.xaml.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/PLK/Targets/TypeScriptCompile.xaml.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/PLK/Targets/TypeScriptProjectProperties.xaml.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/PLK/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/PLK/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/PLK/TypeScriptTasks/TypeScript.Tasks.dll.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/PTB/Targets/ProjectItemsSchema.xaml.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/PTB/Targets/TypeScriptCompile.xaml.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/PTB/Targets/TypeScriptProjectProperties.xaml.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/PTB/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/PTB/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/PTB/TypeScriptTasks/TypeScript.Tasks.dll.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/RUS/Targets/ProjectItemsSchema.xaml.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/RUS/Targets/TypeScriptCompile.xaml.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/RUS/Targets/TypeScriptProjectProperties.xaml.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/RUS/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/RUS/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/RUS/TypeScriptTasks/TypeScript.Tasks.dll.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/TRK/Targets/ProjectItemsSchema.xaml.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/TRK/Targets/TypeScriptCompile.xaml.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/TRK/Targets/TypeScriptProjectProperties.xaml.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/TRK/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/TRK/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
misc/scripts/activationCodeGen/node_modules/typescript/loc/lcl/TRK/TypeScriptTasks/TypeScript.Tasks.dll.lcl
