@import '../../../../globalCss/_colors';

.columnWithoutWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 82%;
    height: fit-content;
    border-radius: 10px;
    margin-top: 10px;
}

.rowWithWrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 82%;
    height: fit-content;
    border-radius: 10px;
    margin-top: 10px;
}




@media only screen and (max-width: 600px) {
    .columnWithoutWrap {
        width: 95%;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .rowWithWrap {
        width: 95%;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .firstRowGreetingContainer {
        width: 100%;
        max-width: 100%;
    }
    .firstRowPlaybackContainer {
        width: 100%;
        min-width: unset;
    }
    .firstRowStatsContainer {
        width: 100%;
    }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    .columnWithoutWrap {
        width: 95%;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .rowWithWrap {
        width: 95%;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .firstRowGreetingContainer {
        width: 100%;
        max-width: 100%;
    }
    .firstRowPlaybackContainer {
        width: 100%;
    }
    .firstRowStatsContainer {
        width: 100%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .columnWithoutWrap {
        flex-direction: column;
        width: 100vw;
    }
    .rowWithWrap {
        width: 100vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    //noinspection ALL
    .columnWithoutWrap {
        width: 98vw;
    }
    .rowWithWrap {
        width: 98vw;
    }
}