.viewSettingsItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 70%;

}
.viewSettingsItemTitleWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: calc(50% - 20px);
  height: 40px;
  text-align: left;
  box-sizing: border-box;
  padding-left: 10px;
  border-left: 3px solid var(--background-18);
}
.viewSettingsItemWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: calc(50% - 20px);
  height: 40px;
  text-align: left;
  box-sizing: border-box;
  padding-left: 10px;
}
.viewSettingsItemTitleWrapper label {
  width: 200px;
}

.settingsItemButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--background-18);
  text-decoration: none;
  font-size: 14px;
  width: 220px;
  height: 30px;
  box-sizing: border-box;
  color: #F6F6F6;
  //letter-spacing: 1.2px;
}

.valueWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  width: 100px;
  padding-right: 20px;
  box-sizing: border-box;
  color: white;
  font-weight: bolder;
}
