:root {
    --intenseGreen: #61ca61;
    --intenseRed: #e73f3f;
    --intenseYellow: #efd116;
    --intenseGray: #8e8e8e;
    --intenseOrange: #ffc400;

    --deepGreen: #34c110;
    --deepOrange: #ffbb00;
    --deepBlue: #4c667e;
    --deepRed: #d35757;

    --sausageIndicatorGrey: #d9d9d9;
    --sausageIndicatorOrange: #ff6700;
    --sausageIndicatorGreen: #76FFA5;
    --sausageIndicatorBlue: #96C9CC;

    --mildRed: #fa6767;
    --mildGreen: #7cf25e;
    --mildGrey: #e1e1e1;
    --mildOrange: #ffcd2b;
    --mildDeepBlue: #1d6784;

    --funkyYellow: #e1d32a;
    --funkyHighlight: #64add7;

    /*rgb(151, 201, 204);*/
    --whiteGrey: #f7f7f7;

    /* transparent colors */

    --transparentIntenseBlue10: rgba(151, 201, 204, 0.4);
    --transparentIntenseBlue85: rgba(69, 97, 238, 0.847);
    /*--eduptiveTransparentYellowGreen: rgba(151, 201, 204, 0.847);*/

    /* --transparentMildGreen70: rgba(151, 204, 155, 0.7); */


    /* gradients */

    --gradientBlueBackground: radial-gradient(farthest-corner at 300px 300px, rgba(177, 208, 242, 0.45) 20%, white 80%);


    /* ----------- USED COLORS BELOW --------------- */

    /* NON TRANSPARENT COLORS */

    /* BASE COLORS */
    --eduptiveDeepDarkGreen: #00352F;
    --eduptiveMildDarkGreen: #00594F;
    --eduptiveYellowGreen: #CEDC00;

    /* CHART COLORS */
    --eduptiveChartMildDarkGreen2: #10776b;
    --eduptiveChartMildDarkGreen2: #209b8c;
    --eduptiveChartYellowGreen: #9ba515;

    /* TRANSPARENT COLORS */

    --eduptiveTransparentYellowGreen: rgba(206, 200, 0, 0.7);

    /* WHITES */
    --transparentWhite10: rgba(255, 255, 255, 0.1);
    --transparentWhite50: rgba(255, 255, 255, 0.5);
    --transparentWhite70: rgba(255, 255, 255, 0.7);
    --transparentWhite80: rgba(255, 255, 255, 0.8);
    --transparentWhite90: rgba(255, 255, 255, 0.9);
    --transparentWhite95: rgba(255, 255, 255, 0.95);

}

/* --------------------- GLOBAL -------------------  */

/* base */
html {

    /* rem means relative to this number - sort of a baseline for every font size in the app */
    font-size: 14px;
    width: 100vw;
    height: 100vh;
}

/* Default style of text elements */
p,
button {
    font-size: 1rem;
    font-family: "Poppins", sans-serif !important;
}

button {
    font-weight: 600;
    font-size: 0.9rem;
}

button * {
    font-weight: 600;
    font-size: 0.9rem;
}

body {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

body * {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body * ::-webkit-scrollbar {
    display: none;
}

/* borders */

.dividerBorderBottom {
    border-bottom: 1px solid var(--mildGrey);
}

.dividerBorderLeft {
    border-left: 1px solid var(--mildGrey);
}

.dividerBorderRight {
    border-right: 1px solid var(--mildGrey);
}

.dividerBorderTop {
    border-top: 1px solid var(--mildGrey);
}

.simpleBorder {
    border: 1px solid var(--mildGrey);
}

.fontSmall {
    font-size: 0.9rem !important;
}

.fontLarge {
    font-size: 1.1rem !important;
}

.font13 {
    font-size: 13px !important;
}

.font14 {
    font-size: 14px !important;
}

.font19 {
    font-size: 19px !important;
}

.font22 {
    font-size: 22px !important;
}

.font26 {
    font-size: 26px !important;
}

.font30 {
    font-size: 30px !important;
}

/* font colors */

.fontDark {
    color: #646464 !important;
}

.fontLight {
    color: #ffffff !important;
}

.fontGrey {
    color: var(--intenseGray) !important;
}

.fontError {
    color: var(--mildRed) !important;
}

/* sqares  */

.square15 {
    width: 15px !important;
    height: 15px !important;
}

.square20 {
    width: 20px !important;
    height: 20px !important;
}

.square25 {
    width: 25px !important;
    height: 25px !important;
}

.square30 {
    width: 30px !important;
    height: 30px !important;
}

.square35 {
    width: 35px !important;
    height: 35px !important;
}

.square40 {
    width: 40px !important;
    height: 40px !important;
}

.square50 {
    width: 50px !important;
    height: 50px !important;
}

.square60 {
    width: 60px !important;
    height: 60px !important;
}

.square70 {
    width: 70px !important;
    height: 70px !important;
}

/* flex */

.h-flex {
    display: flex;
    flex-direction: row;
}

.v-flex {
    display: flex;
    flex-direction: column;
}

.align-center {
    align-items: center;
}

/* misc  */

.circle {
    border-radius: 50%;
}

.roundBorders {
    border-radius: 6px;
}

.controlPadding {
    padding: 2px 12px 2px 12px
}

/* devanagari */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8Z11lFc-K.woff2) format('woff2');
    unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FF;
}

/* latin-ext */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8Z1JlFc-K.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJbecmNE.woff2) format('woff2');
    unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FF;
}

/* latin-ext */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z11lFc-K.woff2) format('woff2');
    unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FF;
}

/* latin-ext */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1JlFc-K.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

#root {
    width: 100%;
    height: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

a {
    color: inherit;
    /* blue colors for links too */
    text-decoration: inherit;
    /* no underline */
}

button {
    cursor: pointer;
}

.hoverOnHover {
    transition: 0.2s;
}

.hoverOnHover:hover {
    transform: scale(1.02);
    box-shadow: 1 1 black;
}

.leftBorderOnHover {
    transition: 0.2s;
}

.leftBorderOnHover:hover {
    border-left: 5px solid var(--background-18);
}

.forceTransparentBgOnChildren>* {
    background: transparent !important;
}

@keyframes rightSlideAnimation {
    from {
        right: 100%;
    }

    to {
        right: 0%;
    }
}

.pauseAnimation {
    animation-play-state: paused;
}

.whall {
    width: 100%;
    height: 100%;
}

.normalizeChild>.MuiPaper-root {
    background: none;
    border-radius: 0;
    box-shadow: none;
    overflow: visible;
}

.largeSoftShadow {
    box-shadow: 5px 5px 25px 5px rgba(0, 0, 0, 0.10)
}

.mildShadow {
    box-shadow: 0 0 8px #0000001f
}

.tinyShadow {
    box-shadow: 0 0 4px #0000001f
}

.hoverShine {
    transition: 0.3s;
}

.hoverShine:hover {
    filter: brightness(110%) saturate(90%);
}

.shadowOnHover {
    transition: 0.2s;
}

.shadowOnHover:hover {
    box-shadow: 0 0 15px #0000001f
}

.dataGridHighlightedRow {
    background: #EEE;
}