.searchItemButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    color: var(--text-color-1);
    width: 30px;
    height: 30px;
    margin: 3px;
    border: none;
    background-color: darkslategrey;
}