.formWrapper {
  position: relative;
  width: 100%;
  margin: 10px 0 50px 0;
  height: 100%;
  max-height: 410px;
}
.filterInput {
  width: 100%;
}
.formControl {
  overflow-y: scroll;
  width: 100%;
  min-height: 200px;
  height: 100%;
}

.formGroup {
  border: 1px solid #aaaaaa;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 360px;
  border-radius: 4px;
  flex-wrap: nowrap;
  overflow-y: scroll;
  box-sizing: border-box;
  max-height: 360px;
  margin-top: 10px;
}
/*
.radioGroup {
  border: 1px solid #aaaaaa;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 360px;
  border-radius: 4px;
  flex-wrap: nowrap;
  overflow-y: scroll;
  box-sizing: border-box;
  max-height: 360px;
  margin-top: 10px;
}*/