// Main frame

.signupWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.questionAndAnswersWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 400px;
  width: calc(50% - 50px)
}
// Navigation

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: calc(100% - 400px);
  max-width: 1920px;
  height: 100%;
  margin-top: 40px;
}

.titleWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  width: calc(100% - 35px);
  height: 30px;
}

.divider {
  width: calc(100% - 20px);
}

.backAndProgress {
  width: calc(100% - 20px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

// Progressbar

.progressWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: calc(100% - 400px);
}

.progressBar {
  width: 100%;
  border-radius: 5px;
  height: 1.5px;
  font-size: 0.5px;
}

.progressBar div {
  background-color: black;
}

.progressBar:nth-child(1) {
  background-color: #EEE;
}

.progressPercentage {
}



.questionAndAnswersOuterWrapper {
  width: calc(100% - 400px);
  max-width: 1920px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.questionImage {
  object-fit: contain;
  width: calc(50% - 50px);
  height: 400px;
  max-height: 400px;
}
