.settingsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.titleWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    height: 70px;
    padding-bottom: 20px;
}
.titleWrapper h1 {
    color: white;
    margin: 0 0 0 40px;
    padding: 0;
    font-weight: normal;
    font-size: 26px;
}



.dataSheetWrapper {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: calc(100% - 50px);
    padding: 20px 0;
    border-radius: 4px;

    .profileImageWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 200px;
    }

    .dataSheetItemWrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 50%;


    }
}
.viewSettingsWrapper {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    box-sizing: border-box;
    padding-left: 40px;
    width: calc(100% - 50px);
    border-radius: 4px;
}



.securityWrapper {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 200px;
    box-sizing: border-box;
    padding-left: 40px;
    width: calc(100% - 50px);
}
.securityWrapper:last-child {
    width: 170px;
    height: 34px;
    border-radius: 7px;
    border: 0;
    background-color: #1BBEFF;
    color: white;
    font-weight: 500;
    font-size: 0.9rem;
}

.notificationsWrapper {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 400px;
    box-sizing: border-box;
    padding-left: 40px;
    width: calc(100% - 50px);
}
