.dashBoardMainContainer {
    background-color: var(--background-10);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    min-height: 100vh;
    top: 0;
    left: 0;
    z-index: 998;
}

.dashboardContentWrapper {
    background-color: lightblue;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.dashboardLeftColumn {
    background-color: var(--background-12-5);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
}

.dashboardRightColumn {
    width: 30%;
    background-color: var(--background-12-5);
}