.navbarNavLinksWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 450px;
  max-width: 650px;
  height: 100%;
}

.fos div p {
  color: var(--background-primary-dark);
  border-bottom: 1px solid var(--background-primary-dark);
}
