.videoListWrapper {
    display: flex;
    flex-direction: column;
}

.videoListInnerWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.learningTypeSelector {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 80px;
}
.slider {
    max-width: 70%;
    font-family: 'Cabin', sans-serif;
    font-weight: bolder;
    font-variant: all-petite-caps;
    font-size: 1.1rem;
    color: #AAA;
    padding: 0;
    margin: 20px 0 0 0;
}
.slider:nth-child(1) {
    color: var(--background-18);
}

.courseItemListContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.courseItemListContainer::-webkit-scrollbar {
    display: none;
}
.video {
    display: flex;
    flex-direction: row;
    padding: 0;
    height: 75px;
}
.video:hover {
    background-color: var(--background-15);
}
.video:active {
    background-color: var(--background-13);
}
.selectedVideo {
    background-color: var(--background-15);
}
.videoMainTitle {
    font-size: 1.2rem;
    padding: 0;
    margin: 10px 0;
    line-height: 10px;
    color: var(--background-18);
}

.videoSubTitle {
    font-size: 0.85rem;
    padding: 0;
    margin: 0;
    color: #0e1a1d;
    font-weight: bolder;
}
.videoProgress {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}
.videoProgress img {
    width: 10px;
    margin-top: 25px;
}
.progressBar {
    background-color: #172629;
    width: 2px;
    margin-top: 5px;
    height: 30px;
}

.videoDataWrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quiz {
    box-sizing: border-box;
    border-left: 97px solid var(--background-18);
}
.quiz:hover {
    background-color: var(--background-15);
}
.quiz:active {
    background-color: var(--background-13);
}
.selectedQuiz{
    background-color: var(--background-15);
}

.quizProgress {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    padding-top: 27px;
    width: 20%;
}

.quizProgress img {
    width: 10px;
}

.quizDataWrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    padding-top: 15px;
}


.quizMainTitle {
    font-size: 1.2rem;
    padding: 0;
    margin: 10px 0;
    line-height: 10px;
    color: #1bff7f;
}
.quizSubTitle {
    font-size: 0.85rem;
    padding: 0;
    margin: 0 0 15px 0;
    color: #EEE;
    font-weight: bolder;
}

.quizContent {
    font-size: 0.85rem;
    padding: 0;
    margin: 0;
    color: #EEE;
}

// @media only screen and (max-width: 600px) {
//     .videoListWrapper {
//         width: 100%;
//         border-radius: 0;
//         padding: 0;
//     }
//     .courseItemListContainer {

//     }
// }
// /* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 600px) and (max-width: 768px) {
//     .videoListWrapper {
//         width: 100%;
//         border-radius: 0;
//         padding: 0;
//     }
//     .courseItemListContainer {

//     }
// }

// /* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 768px) and (max-width: 992px) {
//     .videoListWrapper {
//         width: 100%;
//         border-radius: 0;
//         padding: 0;
//     }
//     .courseItemListContainer {

//     }
// }

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {

}
