.secondRowArticlesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 95%;
  //height: calc(100% + 134px);
  flex-grow: 1;
  //background-color:  rgba(84, 120, 145, 0.5);
}

.carouselWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 60%;
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 100%;
  height: 500px;
}

.articleLink {
}

.secondRowArticlesInnerContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 500px;
  width: 100%;
}

.secondRowArticlesInnerContainer img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  filter: brightness(0.4);
  -webkit-filter: brightness(0.4);
}
.articleItem {
  background-color: rgba(124,192,194,0.9);
  //background-color: rgb(255, 0, 253);
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  flex-grow: 1;
  min-height: 160px;
  overflow: hidden;
}

.articleItem h1 {
  text-align: left;
  color: white;
  width: 90%;
  margin: 25px 0 0 20px;
  padding: 0;

}

.articleItem p {
  text-align: left;
  color: white;
  width: 90%;
  margin: 5px 0 20px 20px
}

.ArticleItemTextWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 70%;
}

.ArticleItemTextWrapper h2 {
  color: var(--article-header-color);
  margin: 10px 10px 0 10px;
  line-height: 100%;
}
.ArticleItemTextWrapper p {
  color: var(--text-color-2);
  margin: 10px 10px;
  font-weight: bolder;
  line-height: 120%;
}

.articlesList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 35%;
  min-width: 500px;
  max-width: 100%;
  height: 500px;
  flex-grow: 1;
  flex-shrink: 1;
  overflow-y: scroll;

  border-left: 2px solid rgba(124,192,194,1.0);
}

.articlesListImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.gridListTitleInnerWrapper {
  
}






@media only screen and (max-width: 600px) {
  .secondRowArticlesContainer {
    max-width: unset;
    width: 98%;
    margin: 0 auto 0 auto;
  }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .secondRowArticlesContainer {
    max-width: unset;
    width: 98%;
    margin: 0 auto 0 auto;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .secondRowArticlesContainer {
    max-width: unset;
    width: 98%;
    margin: 0 auto 0 auto;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {

}
