.searchItemWrapper {
    display: flex;
    flex: 1 1 33.333%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 250px;
    max-width: 33.333%;
    height: 400px;
}

.searchItem {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 95%;
    height: 380px;
}

.videoItemTopWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 170px;
    border-radius: 10px;
}
.videoItemThumbnailImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}


.videoItemBottomWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 210px;
    background-color: #41b0ef;
    border-radius: 0 0 10px 10px;
}


.videoTitleOuterWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1885a5;
    width: 100%;
    height: 60px;
    margin-top: 10px;
    box-sizing: border-box;
}

.videoMainTitleItem {

}
.videoMainTitleItem span {
    font-weight: bolder;
    color: white;
}
.videoTitleDivider {
    border-bottom: 2px solid #333;
    height: 2px;
    box-sizing: border-box;
    width: 80%;
    margin: 2px 0;
}
.videoSubTitleItem {
}

.videoInfoOuterWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 140px;
    border-radius: 0 0 10px 10px;
}

.videoInfoItemWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
}
.videoInfoItemWrapper img {
    width: 30px;
}

.videoInfoItemWrapper span {
    margin-left: 10px;
}