.dataRow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 90px;

}

.dataRow div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 30px;
    width: 100%;
}

.dataRow label {
    color: white;
    padding-left: 5px;
}

.dataRow input {
    //border: 1px solid #DDDDDD;
    height: 40px;
    border-radius: 7px;

    padding: 0;
}


.dataRow button {
    border: 1px solid #DDDDDD;
    background-color: var(--background-highlighted);
    height: 40px;
    border-radius: 7px;
}
