.itemWrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  grid-column: auto / span 1;
  grid-row: auto / span 1;
  transition: all 1s;
}

.gridItemChart {
  width: 100%;
  grid-column: auto / span 2;
  grid-row: auto / span 2
}


.itemDataWrapper {
  //background-color: rosybrown;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  height: 50%;
  box-sizing: border-box;
}


.itemValueWrapper {
  //background-color: seagreen;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  height: 100%;
}

.itemValueWrapper h5 {
  letter-spacing: 0.1px;
  margin: 0;
  padding: 0;
  line-height: initial;
  box-sizing: border-box;
}

.itemIconWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  height: 100%;
}

.itemIconWrapper p {
  padding: 0;
  margin: 0 0 0 5px;
}

.itemTitleWrapper {
  //background-color: seagreen;
  width: 100%;
  height: 50%;
  box-sizing: border-box;
  padding: 0 10px 0 0;
}

.itemTitleWrapper p {
  margin: 0;
  width: 100%;
}

.itemTitle {
  font-weight: lighter;
}

.iconWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //background-color: sandybrown;
  width: 70px;
  height: 210px;
}
.fakeIcon {
  background-color: gray;
  width: 50px;
  height: 50px;
  border-radius: 10px;
}
.chartContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 20px);
  height: 400px;
}

.chartContainer * {
  max-width: calc(100%);
}

.chartOuterWrapper {
  width: 100%;
}

.contentWrapper {
  width: calc(100% - 70px);
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
}

.expandButton {
  min-width: 30px;
  max-width: 30px;
  height: 30px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.dataTileWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headerTitle {
  margin: 10px;
}

.statItemIcon {
  width: 50px;
  margin: 10px;
}

