.profileImageWrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  position: relative;
}

.addProfileImage {
  position: absolute;
  color: white;
  width: 100px;
  height: 50px;
  top: 60px;
  left: auto;
  right: auto;
  background-color: rgba(91, 91, 91, 0.8);
  border-bottom-left-radius: 50px;  /* 100px of height + 10px of border */
  border-bottom-right-radius: 50px; /* 100px of height + 10px of border */
  border: 0 solid gray;
  text-align: center;
  box-sizing: border-box;
  padding-top: 5px;
}
.addProfileImage:hover {
  text-decoration: underline;
}
/*@keyframes border-pulsate {
  0%   { border-color: var(--avatar-border); }
  50%  { border-color: rgba(124,192,194,0.6); }
  100% { border-color: var(--avatar-border); }
}*/
.profileImageWrapper img {
  object-fit: cover;
  width: 100px;
  height: 100px;
  border: 8px solid var(--avatar-border);
  border-radius: 60px;
  //animation: border-pulsate 2s infinite;
}
