.saveBarOuterWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  padding: 0 30px;
  width: calc(100% - 400px);
  height: 60px;
  background-color: rgba(200,200,200, 0.8);
  position: fixed;
  bottom: 0;
  right: 0;
}