.saveBarOuterWrapper {

}

.firstButton {
  background-color: var(--background-18);
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.secondButton {
  background-color: var(--background-18);
  position: fixed;
  bottom: 30px;
  right: 100px;
}