.recommendedCoursesWrapper {
  background-color:  rgba(84, 120, 145, 0.5);
  width: 95%;
  min-height: 280px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
  padding: 10px;

  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

/*.recommendedCoursesWrapper > div {

  min-width: 330px;
}*/

.recommendedCoursesWrapper > div {
  margin-right: 20px;
  min-width: 330px;
}


@media only screen and (max-width: 600px) {
  .recommendedCoursesWrapper {
    max-width: unset;
    width: 98%;
    margin: 0;
  }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .recommendedCoursesWrapper {
    max-width: unset;
    width: 98%;
    margin: 0;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .recommendedCoursesWrapper {
    max-width: unset;
    width: 98%;
    margin: 0;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {

}
