.examsOuterWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.examsInnerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  width: 100%;
  height: 100%;
}

.examsSecondRow {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
  width: calc(100% - 50px);
  min-height: 350px;
  padding: 20px 40px;
  border-radius: 10px;
  box-sizing: border-box;
}
.examsSecondRow img {
  width: 29%;
  border-radius: 10px;
}
.examsThirdRow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  height: 100px;
}
