.profileOuterWrapper {
    display: flex;
    flex-direction: row;

    width: 80vw;
    background-color: rgba(21,38,56,1.0);

    height: 83vh;
    min-height: 83vh;
    border-radius: 10px;
}

.profileDataOuterWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 27%;
    height: 100%;
}

.profileDataInnerTopWrapper {
    height: 82px;
    width: 100%;
}

.profileDataInnerBottomWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 87%;
    margin-bottom: 20px;

    margin-top: 50px;
    width: calc(100% - 100px);
}

.profileDataOptionsWrapper {
    width: 100%;
    height: 100%;
}

.profileDataOption {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 45px;
    text-decoration: none;
    color: unset;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently*/
}

.profileDataOptionItemText {
    margin-left: 10px;
}

.profileDataOptionSelected > *:last-child {
    font-weight: bold;
    color: var(--background-primary-dark);
}

.profileDataOption p {
  width: 80%;
  color: #e8e8e8;
}

.profileDataOption:last-child {
    margin-top: calc(100vh - 100% - 100px);
}


.profileSettingsOuterWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 73%;
    height: 100%;
    box-sizing: border-box;
}



.profileSettingsHeaderWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 82px;
    margin: 0;
    padding-left: 20px;
    box-sizing: border-box;
}

.profileSettingsHeaderWrapper h1 {
    color: var(--text-color-1);
    margin: 0;
    padding: 0;
}

.profileSettingsInnerWrapper {
    width: 100%;
    height: 87%;
    overflow-y: scroll;
    margin-bottom: 20px;
    border-radius: 0 10px 10px 10px;
}

.profileSettingsSwitchersWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #CCC;
}

.profileSettingsSwitchersWrapper a {
    color: #7cc0c2;
    text-decoration: none;
}
