.breadCrumbsWrapper {
    box-sizing: border-box;
    padding: 10px 30px;
    margin: 15px 0 15px 0;
    width: 100%;
}

.breadcrumbTitle {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.breadcrumbTitle svg {
    margin: 0 5px;
}