.editCourseWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100%;
  overflow-y: scroll;
}
.editDataOuterWrapper {
  display: flex;
  flex-direction: column;
  width: calc(100% - 20px);
  border-radius: 10px;
}

.editDataInnerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%
}
.editDataLeftWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: calc(50% - 20px);
}

.editDataListWrapper {
}
.editTagsWrapper {
}
.editDataRightWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(50% - 20px);
  height: calc(100%);
  border-radius: 10px;
}

.listHeader {
  border-radius: 10%;
}
.tagList {
  border-radius: 10px;
  width: calc(100% - 10px);
  margin: 10px 0;
}
.tagWrapper {
  width: calc(100% - 30px);
  margin: 10px 0 20px 0;
}

.editVideosWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: calc(100% - 50px);
}


.color {
  width: 36px;
  height: 14px;
  border-radius: 2px;
}

.swatch {
  padding: 5px;
  background: #fff;
  border-radius: 1px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1);
  display: inline-block;
  cursor: pointer;
}
.popover {
  position: absolute;
  z-index: 2;
}
.cover {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.colorPickerSwitchWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f6f6;
  width: calc(100% - 30px);
  border-radius: 4px;
  box-sizing: border-box;
  padding: 0 20px 0 20px;
}

