.commentsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--background-12);
    height: 100%;
    padding-top: 10px;
    border-top: 2px solid var(--background-highlighted);
}

.commentsInnerWrapper {
    width: 97%;
    margin-top: 20px;
}
.commentsInnerWrapper h1 {
    color: #87ccce;
}

.commentDescription a {
    text-decoration: none;
    color: lightskyblue;
}


//noinspection ALL
.downvote {
    width: 20px;
}


@media only screen and (max-width: 600px) {
    .commentsWrapper {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    .commentsWrapper {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .commentsWrapper {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {

}