.coursesContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  height: 300px;
  margin-bottom: 20px;
  overflow-y: scroll;
  ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.coursesContainer::-webkit-scrollbar {
  display: none;
}
