.adminDashboardList {
  width: calc(100%);
  min-height: 70%;
  max-height: calc(100% - 120px);
  //background-color: var(--background-primary-main);
  margin-top: 10px;
  border-radius: 10px;

  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

}
.adminDashboardList::-webkit-scrollbar {
  display: none;
}
