.recommendedCoursesWrapper {
  background-color: var(--background-11);
  width: 100%;
}

.coursesOuterRow {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 30px;
}

.coursesOuterRow h1 {
  color: #FFF;
  margin-left: 20px;
}

.coursesInnerRow {
  background-color: var(--background-12);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-self: center;
  width: 98%;
  height: 83%;
  border-radius: 10px;
  overflow-x: scroll;

  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.coursesInnerRow::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.coursesInnerRow img {
  background-color: #115155;
  height: 300px;
  margin: 10px;
}

@media only screen and (max-width: 600px) {
  .recommendedCoursesWrapper {
    max-width: unset;
    width: 98%;
    margin: 0;
  }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .recommendedCoursesWrapper {
    max-width: unset;
    width: 98%;
    margin: 0;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .recommendedCoursesWrapper {
    max-width: unset;
    width: 98%;
    margin: 0;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {

}