.searchItemFrontWrapper {
    display: flex;
    flex: 1 1 33.333%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 250px;
    max-width: 33.333%;
    height: 420px;
    perspective: 1000px;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.searchItemFlipped {
    transform: rotateY(180deg);
}

.searchItem {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 92%;
    height: 380px;
    border-radius: 10px;

    -webkit-box-shadow: 3px 3px 23px 4px rgba(38,38,38,1);
    -moz-box-shadow: 3px 3px 23px 4px rgba(38,38,38,1);
    box-shadow: 3px 3px 23px 4px rgba(38,38,38,1);
}

.videoItemTopWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 150px;
    border-radius: 10px;
}
.videoItemThumbnailImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}


.videoItemBottomWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 230px;
    background-color: #41b0ef;
    border-radius: 0 0 10px 10px;
}


.videoTitleOuterWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1885a5;
    width: 100%;
    height: 60px;
    margin-top: 10px;
    box-sizing: border-box;
}

.videoMainTitleItem {

}
.videoMainTitleItem span {
    font-weight: bolder;
    color: white;

}
.videoTitleDivider {
    border-bottom: 2px solid #333;
    height: 2px;
    box-sizing: border-box;
    width: 80%;
    margin: 2px 0;
}
.videoSubTitleItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.videoSubTitleItem span {
    color: white;
    font-weight: 500;
    width: 80%;
    text-align: center;
}

.videoInfoOuterWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 140px;
    border-radius: 0 0 10px 10px;
}

.videoInfoItemWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    height: 20px;
    border-bottom: 1px solid #CCC;
    padding-bottom: 3px;
}
.videoInfoItemWrapper:last-child {
    border-bottom: unset;
}
.videoInfoItemWrapper img {
    width: 30px;
    height: 20px;
    max-height: 20px;
}

.videoInfoItemWrapper span {
    color: #EEE;
    margin-left: 10px;
    font-weight: 500;
    font-size: 1rem;
}

.searchItemBackInnerWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 380px;
    border-radius: 10px;
    transform: rotateY(180deg);
}

.courseOptionButton {
    background-color: var(--background-13);
    width: 230px;
    height: 45px;
    border: none;
    border-radius: 7px;
    margin: 10px auto;
    font-size: 1.05rem;
    color: white;
    font-weight: 600;
    font-variant: all-petite-caps;
}

@keyframes scale {
    0% {
        width: 230px;
        height: 45px;
    }
    100% {
        width: 240px;
        height: 47px;
    }
}

.courseOptionButton:hover {
    background-color: var(--background-article-button);
    transform: scale(1.02);
    animation: scale 200ms forwards;
}

.courseItemFlippedWrapper {
    background-color: rgba(0,0,0,0.7);
    border-radius: 10px;
    width: 92%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}

