.statisticsOuterWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.statisticsInfoOuterContainer {
    display: grid;
    width: calc(100% - 10px);
    min-height: 270px;
}
